@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
table, td{
  border: solid 1px white;
}

body{
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color:whitesmoke;
}
P{
  marign: 10px 50px;
  padding: 10px 2px;
  border: solid 1px black;
  display: block;



tr{
  margin-top: 5px;
}