@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
P{
  marign: 10px 50px;
  padding: 10px 2px;
  display: block;
  border: solid 1px black;
}
input{
  margin: 10px 20px;
  display: inline;
}
body{
  background-color: bisque;
  color: darkolivegreen;
  font-family: "Montserrat", sans-serif;
}